<!doctype html>
<html lang="en">

<head>
    <title>Weather</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/weather.css">
</head>

<body class="bg-dark" cz-shortcut-listen="true">
    <div class="container hieght-full">
        <div class="weather">
            <div class="weather__content text-center">
                <h1 class="title">Weather</h1>
                {{#if status }}
                <section class="search">
                    <h1 class="place" id="place">{{region}}</h1>
                    <h2 class="country" id="country">{{country}}</h2>
                    <p class="temperature" id="temperature">{{temperature}}°C</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-wind icon"></i>
                                <p class="result" id="wind">{{wind_speed}}</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-cloud-rain icon"></i>
                                <p class="result" id="rain">{{precip}}</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-cloud icon"></i>
                                <p class="result" id="cloud">{{cloudcover}}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="/" class="form-search container">
                            <div class="input-group mb-3">
                                <input type="text" name="address" class="form-control input-search" placeholder="Location"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-search" type="submit" id="search">
                                        Find
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                {{else }}
                <section class="not-search">
                    <div>
                        <form action="/" class="form-search container">
                            <div class="input-group mb-3">
                                <input type="text" name="address" class="form-control input-search" placeholder="Location"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-search" type="submit" id="search">
                                        Find
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                {{/if}}
            </div>
        </div>
    </div>
</body>

</html>
